**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!images/icon.png
!language-configuration/shader.json
!language-configuration/hlsl.json
!out/extension.js
!out/THIRD_PARTY_NOTICES.txt
!out/terminateProcess.sh
!out/server/server.js
!out/grammars/tree-sitter-hlsl.wasm
!out/grammars/tree-sitter-hlsl.provenance.json
!out/grammars/tree-sitter-hlsl.LICENSE
!out/server/node_modules/web-tree-sitter/LICENSE
!out/server/node_modules/web-tree-sitter/package.json
!out/server/node_modules/web-tree-sitter/tree-sitter.js
!out/server/node_modules/web-tree-sitter/tree-sitter.wasm
